body {
    overflow-y: hidden;
}

#content {
    background-color: coral;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    
}

.menuItem:hover {
    background-color: blue;
}

.menuItem:active {
    background-color: green;
}